rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /test/{docId} {
      allow read: if true;
    }

    match /inquiries/{inquiryId} {
      allow read: if request.auth != null;
      allow create: if request.resource.data.fullName is string && request.resource.data.email is string;
      allow update, delete: if request.auth != null && request.auth.token.email == 'sb7479906@gmail.com';
    }

    match /consultations/{consultationId} {
      allow read: if request.auth != null;
      allow create: if request.resource.data.fullName is string && request.resource.data.email is string;
      allow update, delete: if request.auth != null && request.auth.token.email == 'sb7479906@gmail.com';
    }
  }
}


